:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
	font-feature-settings: "dlig", "zero", "ss01", "ss03", "cv01", "cv10";
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, sans-serif; }
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height: 100%;
}
body {
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1.45;
	letter-spacing: 0.4px;
	background-color: #1f1f1f;
	color: #d1cfbe;
}
header, #content, footer {
	box-sizing: border-box;
	min-height: 100%;
	padding: 0 4rem;
}
header {
	display: grid;
	grid-template: 1fr auto 4rem / 50% 1fr;	
}
header > h1 {
	grid-column: 1 / span 2;
	align-self: center;
	font-size: 12.5rem;
	font-weight: 600;
	letter-spacing: -3.5px;
	line-height: 1;
	margin-top: -2rem;
	margin-left: -0.5rem;
}
header > p {
	grid-column: 1 / span 2;
	align-self: center;
	justify-self: end;
	font-size: 1rem;
	color: #666;
}
header > p > a {
	color: #999;
	border: 0;
}
header > p > a:hover {
	border: 0;
	text-decoration: underline;
}
#left {
	align-self: end;
}
#left > h2, #join > p > strong {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0;
}
#left > p {
	font-size: 1.25rem;
	max-width: 35.35rem;
	margin-top: 1rem;
}
a {
	color: #d1cfbe;
	text-decoration: none;
	border-bottom: 1.5px solid #d1cfbe;	
}
a:hover {
	border-bottom: 3px solid #fff;
}
#right {
	justify-self: end;
	align-self: end;
	margin-left: 2rem;
}
#join {
	box-sizing: border-box;
	text-align: center;
	border: 2px solid #d1cfbe;
	border-radius: 6px;
	padding: 2rem;

	display: grid;
	grid-template: auto auto auto  / auto auto;
}
#join > img {
	width: 170px;
	border-radius: 50%;
	align-self: center;
	margin-right: 2rem;
	grid-row: 1 / span 3;
}
#join > p {
	font-size: 1.25rem;
}
#join > a {
	display: block;
	font-size: 1.25rem;
	color: #d1cfbe;
	border: 2px solid #d1cfbe;
	border-radius: 4px;
	padding: 1rem;
	margin: 2rem auto 0 auto;
	max-width: 16rem;
}
#join > a:hover {
	background-color: #d1cfbe;
	color: #1f1f1f;
}

@media screen and (max-width: 1279px) {
	header {
		padding: 0 2rem;	
	}
	#join {
		display: block;
	}
	#join > img {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 1023px) {
	header {
		display: block;
		padding: 6rem 2rem 2rem 2rem;
	}
	header > h1 {
		margin-bottom: 6rem;
		font-size: calc(100vw / 5.5);
	}
	header > p {
		text-align: center;
	}
	#right {
		margin: 6rem 0 0.5rem 0;
	}
	#join {
		max-width: 24rem;
		margin: 0 auto;
	}
}