* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: center;
	height: 100%;
}
body {
	font-family: "Atkinson Hyperlegible Next", sans-serif;	
	background-color: #1f1f1f;
	color: #d1cfbf;
}
header {
	text-align: center;
	padding: 4rem;
}
header > img {
	width: 192px;
	border-radius: 50%;
}
p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin: 0 auto 2rem auto;
	max-width: 41rem;
	padding: 0 2rem;
}
#stripe {
	width: 18rem;
	margin: 4rem auto 1rem auto;
	background-color: #d1cfbf;
	border-radius: 4px;
	padding: 2rem 1rem 1rem 1rem;
}
#stripe > p {
	color: #1f1f1f;
	text-align: center;
	margin: 0;
	padding: 0;
}
#stripe > p.price {
	font-size: 1.8rem;
}
#stripe > a {
	display: block;
	margin: 2rem 1rem 1rem 1rem;
	background-color: #bb3a22;
	color: #d1cfbf;
	padding: 1rem;
	border-radius: 4px;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.6px;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
footer {
	text-align: center;
	font-size: 0.9rem;
	color: #666;
}
footer > a {
	color: #999;
	text-decoration: none;
}
footer > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1023px) {
	footer {
		margin-bottom: 2rem;
	}
	footer > section {
		margin-top: 8rem;
	}
}
@media screen and (min-width: 1024px) {
	footer {
		margin-bottom: 4rem;
	}
	footer > section {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
	}
}